.component {
    height: 35.4375rem;
    width: 20.4375rem;
    background-color: $white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    &__hero {
        height: 10rem;
        width: 100%;
        background-image: url(/images/illustration-hero.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 20px 20px 0 0;
        margin-bottom: 32px;
    }

    &__title {
        height: 29px;
        font-size: 1.375rem;
        font-weight: 900;
        margin-bottom: 1rem;
        color: $darkBlue;
    }
    &__text {
        font-size: 0.9375rem;
        height: 75px;
        font-weight: 500;
        line-height: 1.67;
        align-items: center;
        color: $desaturatedBlue;
        margin: 0 32px 24px 32px;
    }
    &__plan {
        display: flex;
        background-color: $veryPaleBlue;
        margin: 0 24px 24px 24px;
        border-radius: 10px;
        font-size: 14px;
        padding: 17px 16px 16px 16px;

        img {
        }

        &__type {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 20px;
            h2 {
                font-weight: 900;
            }

            p {
                color: $desaturatedBlue;
            }
        }

        a {
            font-size: 13px;
            font-weight: 700;
            text-align: end;
            align-self: center;
            color: $brightBlue;
            text-decoration: underline;
            flex: auto;
        }
    }
    &__cta {
        a {
            display: block;
            background-color: $brightBlue;
            height: 50px;
            margin: 0 24px 24px 24px;
            border-radius: 12px;
            text-align: center;
            padding: 15px 0;
            color: $white;
            text-decoration: none;
            box-shadow: 0 20px 20px 0 rgba(56, 42, 225, 0.19%);
        }
    }
    &__cancel {
        a {
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            color: $desaturatedBlue;
        }
    }
}
